@font-face {
	font-family: "Icons";
	src: url('../fonts/Icons.eot');
	src: url('../fonts/Icons.eot?#iefix') format('eot'),
		url('../fonts/Icons.woff2') format('woff2'),
		url('../fonts/Icons.woff') format('woff'),
		url('../fonts/Icons.ttf') format('truetype'),
		url('../fonts/Icons.svg#Icons') format('svg');
}

.icon:before {
	font-family: "Icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-arrowDown:before {
	content: "\E001";
}

.icon-arrowLeft:before {
	content: "\E002";
}

.icon-arrowRight:before {
	content: "\E003";
}

.icon-arrowUp:before {
	content: "\E004";
}

.icon-cross:before {
	content: "\E005";
}

.icon-email:before {
	content: "\E006";
}

.icon-facebook:before {
	content: "\E007";
}

.icon-instagram:before {
	content: "\E008";
}

.icon-line:before {
	content: "\E009";
}

.icon-pin:before {
	content: "\E00A";
}

.icon-plus:before {
	content: "\E00B";
}

.icon-reload:before {
	content: "\E00C";
}

.icon-search:before {
	content: "\E00D";
}

.icon-share:before {
	content: "\E00E";
}

.icon-tel:before {
	content: "\E00F";
}

.icon-tick:before {
	content: "\E010";
}

.icon-wechat:before {
	content: "\E011";
}

.icon-weibo:before {
	content: "\E012";
}

.icon-whatsapp:before {
	content: "\E013";
}

.icon-youtube:before {
	content: "\E014";
}
